/* Estilo para o conteúdo */


.content {
    padding: 20px;
    margin-left: 250px; /* Adiciona margem esquerda para empurrar o conteúdo para a direita */
}

ul {
    list-style-type: none; /* Remove as bolinhas padrão */
    padding-left: 0; /* Remove o espaçamento à esquerda */
}
/* Estilo para a lista de serviços */


/* Botão para novo serviço no canto superior direito */
.options  {
    position: absolute;
    top: 15px;
    right: 15px;
}

.options button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

.options2 button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

.options button:hover {
    background-color: #575757;
}

.options3 button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

.options3 {
    display: flex;
    justify-content: right;
}

.options3 button:hover {
    background-color: #575757;
}

.delete-service-btn:hover {
    background-color: #a02f2f;
}
.finish-service-btn:hover {
    background-color: #1fa82b;
}

.edit-service-btn:hover {
    background-color: #a8841f;
}

.reactivate-service-btn:hover {
    background-color: #1f5fa8;
}


/* Estilo para cada item de serviço */
.service-item {
    display: flex;
    justify-content: space-between;
    background-color: #444;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para as informações do serviço */


.service-details p {
    word-wrap: break-word; /* Quebra palavras longas */
    word-break: break-all; /* Quebra palavras longas sem espaço */
    overflow-wrap: break-word; /* Quebra de linha automática em palavras longas */
    max-width: 100%; /* Garante que o texto não ultrapasse a largura da div */
    white-space: normal; /* Garante que o texto não fique em uma linha única */
    color: #84bedf;
    
}

.service-details strong {
    font-size: 18px;
    color: #fff;
}


.search-form {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.search-form input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #555;
    font-size: 20px;
    color: white;
    width: 100%;
}


.imagem-preview {
    margin-bottom: 10px;
}

.imagem-preview img {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.imagem-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 300px;
}





/* Ajuste de responsividade */
@media screen and (max-width: 768px) {

    .options {
        top: 70px;
        
    }

    .options2 {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 10px;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
 
    }
    
    .imagem-preview img {
        width: 100%;
}

    .service-details span {
        text-align: left;
    }

    .service-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    /* Ajuste no conteúdo para telas pequenas */
    .content {
        margin-top: 20px;
        margin-left: 0;
    }
}


.formservico {
    max-width: 100%;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-sizing: border-box;
}

.formservico input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #666;
    color: #fff;
    font-size: 14px;  
    margin-bottom: 20px;
    box-sizing: border-box;
}




